@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>@ViewBag.User.Name</p>
@foreach(Person p in ViewBag.amies)
{
    <p>@p.Name</p>
    <br />
}
<input type="button" class="btn btn-secondary" onclick="location.href='https://localhost:44370/user/deconect';" value="Deconecter" />