@{
    ViewData["Title"] = "Home Page";
}


 <form class="d-flex">
                <input  type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
@foreach(Person p in ViewBag.Persons){
    <p>@p.Email</p>
}
<p>Apres</p>
@foreach(Person p in ViewBag.Pers){
    <p>@p.Age</p>
}